<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../static/assets/"
  data-template="vertical-menu-template"
>
  <head>
    {% include 'layout/head.html' %}

    <style>
    </style>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        {% include 'layout/menu.html' %}

        <!-- Layout container -->
        <div class="layout-page">

          {% include 'layout/navbar.html' %}

          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div>
                <button id="startButton" class="btn btn-primary">Start</button>
                <button id="stopButton" class="btn btn-danger">Stop</button>
              </div>
              <div>
                <audio id="audioPlayer" controls style="margin: 10px 0 0 -20px;"></audio>
              </div>
            </div>
            <!-- / Content -->

            {% include 'layout/footer.html' %}

            <div class="content-backdrop fade"></div>
          </div>
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    {% include 'layout/bodytail.html' %}

    <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@ricky0123/vad-web@0.0.7/dist/bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/fixed-size-queue.js') }}""></script>

    <script>
      $(document).ready(function () {
      });
    </script>

    <script>
      const head_slide = [];
      const begin_voice = new FixedSizeQueue(5);
      let mediaRecorder;
      let audioChunks = [];
      const startBtn = document.getElementById('startButton');
      const stopBtn = document.getElementById('stopButton');
      let listening = false;
      let recording = false;

      function startListening(stream) {
        console.log("Start listening.")
        mediaRecorder = new MediaRecorder(stream);
        mediaRecorder.ondataavailable = event => {
          if (event.data.size > 0) {
            if (head_slide.length == 0) {
              head_slide.push(event.data);
              // console.log("head_slide:", head_slide.length);
            }
            else if (recording) {
              audioChunks.push(event.data);
              // console.log("audioChunks:", audioChunks.length);
            }
            else {
              begin_voice.enqueue(event.data);
              // console.log("begin_voice:", begin_voice.queue.length);
            }
          }
        }
        mediaRecorder.start(100);

        startBtn.disabled = true;
        stopBtn.disabled = false;

        mediaRecorder.onstop = () => {
          console.log("Stop listening.")
          stream.getTracks().forEach(track => track.stop());

          begin_voice.clear();
          startBtn.disabled = false;
          stopBtn.disabled = true;
        };
      }

      // Start listening
      startBtn.addEventListener('click', () => {
        listening = true;
        navigator.mediaDevices.getUserMedia({ audio: true })
          .then(startListening)
          .catch(error => {
            console.error('Error accessing media devices:', error);
          });
      });

      // Stop listening
      stopBtn.addEventListener('click', () => {
        listening = false;
        mediaRecorder.stop();
      });

      async function voice_avaliable_detect() {
        // https://github.com/ricky0123/vad/blob/master/examples/bundler/src/index.js
        const myvad = await vad.MicVAD.new({
          positiveSpeechThreshold: 0.8, // Default: 0.8, 啟動的敏銳度，愈小愈敏銳
          // minSpeechFrames: 0, // Default: 5, 功能不明，調到20不會停
          onSpeechStart: () => {
            if (!listening) {
              return;
            }
            console.log("Start recording.");
            // console.log("head_slide:", head_slide.length, ", begin_voice:", begin_voice.queue.length);
            audioChunks = [...head_slide, ...begin_voice.queue];
            // console.log("Final audioChunks", audioChunks.length);
            recording = true;
          },
          onSpeechEnd: async (audio) => {
            if (!listening) {
              return;
            }
            console.log("Stop recording.");
            recording = false;

            console.log("Upload wave. audioChunks:", audioChunks.length);
            const audioBlob = new Blob(audioChunks, { 'type' : 'audio/wav; codecs=opus' });
            var formData = new FormData();
            formData.append("audio_data", audioBlob);

            async function postData(url, formData) {
              // Default options are marked with *
              const response = await fetch(url, {
                  method: 'POST',
                  //mode: 'cors',
                  //cache: 'no-cache',
                  //credentials: 'same-origin',
                  //headers: {
                  //    'Content-Type': 'application/json'
                  //},
                  //redirect: 'follow',
                  //referrerPolicy: 'no-referrer',
                  body: formData
              });
              return response.json(); // parses JSON response into native JavaScript objects
            }

            //postData('/upload_voice', formData)
            //    .then((data) => {
            //      console.log("Upload response 2:", data.response);
            //    });
            //const response = await fetch("/upload_voice", { method: "POST", body: formData });
            //console.log("Upload response 1:", response.json());
            fetch("/upload_voice", { method: "POST", body: formData })
            .then(response => response.json())
            .then(data => {
                console.log("Upload response 4:", data.audioUrl);
                playAudio(data.audioUrl);
            })
            .catch(error => console.error('Error:', error));
            
          }
        })
        myvad.start()
      }
      voice_avaliable_detect()

      function playAudio(mp3Url) {
        var audioPlayer = document.getElementById('audioPlayer');
        audioPlayer.src = mp3Url;
        audioPlayer.play();
      }

    </script>
  </body>
</html>
