    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{{ url_for('static', filename='assets/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/vendor/libs/hammer/hammer.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/libs/i18n/i18n.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/libs/typeahead-js/typeahead.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/vendor/js/menu.js') }}"></script>
    <!-- endbuild -->

    <!-- Main JS -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
